@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --main-black: #181717;
  --main-gray: #606060;
  --main-white: #f3f3f3;
  --secondary: #2429af;
  --bg-color: #e5e5e5;
}

html {
  scroll-behavior: smooth;
}

body {
  background: #e5e5e5;
}

a {
  text-decoration: none;
  color: var(--main-black);
  cursor: pointer;
}

.wrapper {
  max-width: 1120px;
  margin: 0 auto;
  padding-top: 40px;
}

.navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-transform: capitalize;
}

.navigation span {
  flex: 1;
  font-family: DM Sans;
  font-size: 42px;
  font-weight: 400;
  text-transform: capitalize;
}

.navigation ul {
  display: flex;
  flex: 1;
  justify-content: flex-end;
  list-style: none;
  gap: 2rem;
}

.navigation ul li {
  font-family: DM Sans;
  font-size: 21px;
  font-weight: 500;
  line-height: 25px;
  letter-spacing: -0.03em;
  text-align: left;
}

.about__me h1 {
  font-family: DM Sans;
  font-size: 60px;
  font-weight: 500;
  line-height: 58px;
  width: 35%;
}

.about__me p {
  font-family: DM Sans;
  font-size: 32px;
  font-weight: 400;
  line-height: 37px;
  width: 65%;
}

.about__me {
  display: flex;
  margin-top: 113px;
  text-align: start;
}

.about__work {
  display: flex;
  justify-content: space-between;
  margin-top: 113px;
  border-bottom: 1.5px solid var(--main-gray);
  overflow: hidden;
  padding-bottom: 24px;
}

.about__project {
  text-align: left;
}

.about__project h2 {
  font-family: Inter;
  font-size: 18px;
  font-weight: 500;
  line-height: 22px;
  letter-spacing: -0.03em;
  text-align: left;
  margin-bottom: 19px;
}

.about__project__info p {
  font-family: Inter;
  font-size: 18px;
  font-weight: 400;
  margin-bottom: 30px;
  line-height: 22px;
}

.about__project__info {
  font-family: Inter;
  font-size: 14px;
  font-weight: 400;
  line-height: 17px;
  margin-bottom: 60px;
  width: 380px;
  padding-right: 50px;
}

.about__project a {
  font-family: Inter;
  font-size: 18px;
  font-weight: 500;
  color: var(--main-black);
}

.my__image {
  max-width: 640px;
}

.my__image img {
  width: 100%;
}

.footer__logo {
  color: var(--secondary);
  font-family: DM Sans;
  font-size: 21px;
  font-weight: 500;
  line-height: 25px;
  letter-spacing: -0.03em;
  text-align: left;
  flex: 1;
}

.footer {
  display: flex;
  justify-content: space-between;
  margin: 70px;
}

.footer ul {
  display: flex;
  font-family: DM Sans;
  font-size: 21px;
  font-weight: 500;
  list-style: none;
  flex: 1;
  line-height: 25px;
  letter-spacing: -0.03em;
  text-align: left;
  justify-content: space-between;
}

.contact {
  font-family: DM Sans;
  margin: 50px auto;
  background: gainsboro;
  max-width: 60vw;
  /* box-shadow: 7px 15px 24px; */
  border-radius: 8px;
  padding: 40px;
}

.contact__details {
  text-align: center;
}

.contact h2 {
  font-size: 22px;
  font-family: DM Sans;
  font-weight: normal;
}

.contact input {
  padding: 10px 20px;
  border-radius: 8px;
  font-size: 18px;
  font-weight: 500;
  border: none;
  outline: none;
  margin: 20px;
}

.contact textarea {
  outline: none;
  border: none;
  width: 100%;
  margin: 20px 0;
  padding: 20px;
  border-radius: 8px;
  font-size: 18px;
  font-family: DM Sans;
  font-weight: 500;
}

.contact input::placeholder {
  font-family: DM Sans;
}

.submit {
  padding: 10px 20px;
  font-size: 20px;
  background: var(--secondary);
  cursor: pointer;
  color: wheat;
  font-weight: 500;
  display: block;
  margin: 0 auto;
  width: 350px;
  border-radius: 50px;
  border: 0.4px solid var(--main-gray);
  outline: none;
  transition: all 0.4s ease;
}

.submit:hover {
  background-color: transparent;
  color: var(--secondary);
}

.me {
  display: flex;
  margin-top: 150px;
}

.my__img {
  flex: 1;
}

.my__img img {
  width: 100%;
}

.me__info {
  flex: 1;
}

.me__info h1 {
  font-family: DM Sans;
  font-size: 60px;
  font-weight: 500;
  line-height: 58px;
  letter-spacing: -0.03em;
  text-align: left;
}

.me__info p {
  font-family: DM Sans;
  font-size: 32px;
  font-weight: 400;
  letter-spacing: -0.03em;
  text-align: left;
  margin-top: 40px;

}

.about__skill {
  margin-top: 40px;
}

.about__skill div {
  display: flex;
  gap: 63px;
  margin: 30px 0;
}

.about__skill h2 {
  font-family: Inter;
  font-size: 18px;
  font-weight: 500;
  line-height: 22px;
  letter-spacing: -0.03em;
  text-align: left;

}

.about__skill span {
  font-family: Inter;
  font-size: 18px;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: -0.03em;
  text-align: left;

}

.mail {
  font-family: DM Sans;
  font-size: 32px;
  font-weight: 400;
  line-height: 37px;
  letter-spacing: -0.03em;
  text-align: left;
  display: flex;

}

.mail p:nth-child(1) {
  flex: 1;

}

.mail p:nth-child(2) {
  flex: 2;
  text-align: center;
  letter-spacing: 1px;
}

.about__myself {
  border-bottom: 1.5px solid var(--main-gray);
  overflow: hidden;
  padding-bottom: 12px;
}

@media (min-width: 1025px) and (max-width: 1440px) {
  .wrapper {
    max-width: 90vw;
  }

  .footer {
    margin: 50px 0;
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  .wrapper {
    padding: 27px;
  }

  .about__me p {
    font-size: 27px;
    width: 55%;
  }

  .about__me h1 {
    width: 45%;
    font-size: 54px;
  }

  .navigation span {
    font-size: 34px;
  }
}

@media (max-width: 767px) {
  .wrapper {
    padding: 16px 30px;
  }

  .about__me {
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-top: 50px;
  }

  .about__me h1 {
    width: 100%;
    font-size: 37px;
  }

  .about__me p {
    width: 100%;
    text-align: justify;
    word-break: break-word;
    hyphens: auto;
  }

  .navigation {
    flex-direction: column;
  }

  .navigation ul {
    flex-direction: column;
    width: 100%;
    align-items: center;
    gap: 0;
  }

  .navigation ul li {
    line-height: 60px;
  }

  .about__project h2 {
    font-size: 30px;
    margin: 28px 0;
  }

  .about__project__info p {
    font-size: 22px;
    line-height: 26px;
    text-align: justify;
  }

  .about__project__info {
    font-size: 18px;
    width: 100%;
    padding: 0;
    margin-bottom: 20px;
  }

  .about__project__info span {
    line-height: 26px;
  }

  /* .about__project{
    text-align: center;
  } */
  .about__project a {
    font-size: 18px;
  }

  .footer {
    display: block;
    margin: 0;
  }

  .footer__logo {
    text-align: center;
   
  }

  .about__work {
    display: block;
    margin: 0;
  }

  .my__image {
    margin-top: 12px;
    width: 100%;
  }

  .contact input {
    width: 100%;
    margin: 20px 0;
    margin: 8px 0;
    font-family: DM Sans;
  }

  .contact {
    max-width: 100%;
    padding: 16px 0px;
    margin: 0;
    background: transparent;
    box-shadow: none;
    border-radius: 0;

  }

  .submit {
    width: 100%;
  }

  .footer ul {
    display: block;
    text-align: center;
    line-height: 50px;
  }

  .me {
    display: block;
    margin-top: 40px;
  }

  .me__info h1 {
    line-height: inherit;
    font-size: 28px;
  }

  .me__info p {
    font-size: 24px;
    margin-bottom: 20px;
    margin-top: 0px;
  }

  .mail {
    display: block;
  }

  .mail p:nth-child(2) {
    font-size: 20px;
  }

  .mail p:nth-child(1) {
    font-size: 30px;
    margin-bottom: 20px;
  }

  .about__skill {
    margin-top: 50px;
  }

  .about__skill div {
    gap: 0;
  }

  .about__skill h2 {
    min-width: 117px;
  }
}