@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
:root {
  --main-black: #181717;
  --main-gray: #606060;
  --main-white: #f3f3f3;
  --secondary: #2429af;
  --bg-color: #e5e5e5;
}
body {
  background: var(--bg-color);
}
.wrapper {
  max-width: 1120px;
  background: var(--main-white);
  margin: 0 auto;
  padding: 102px 160px 108px 160px;
}
.navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-transform: capitalize;
}
.navigation span {
  flex: 1;
  font-family: DM Sans;
  font-size: 42px;
  font-weight: 400;
  text-transform: capitalize;
}
.navigation ul {
  display: flex;
  flex: 1;
  justify-content: space-between;
  list-style: none;
}
.navigation ul li {
  font-family: DM Sans;
  font-size: 21px;
  font-weight: 500;
  line-height: 25px;
  letter-spacing: -0.03em;
  text-align: left;
}
.about__me h1 {
  font-family: DM Sans;
  font-size: 60px;
  font-weight: 500;
  line-height: 58px;
  width: 35%;
}
.about__me p {
  font-family: DM Sans;
  font-size: 32px;
  font-weight: 400;
  line-height: 37px;
  width: 65%;
}
.about__me {
  display: flex;
  margin-top: 113px;
  gap: 60px;
}
.about__work {
  display: flex;
  margin-top: 113px;
  border-bottom: 1.5px solid var(--main-gray);
}
.about__project h2 {
  font-family: Inter;
  font-size: 18px;
  font-weight: 500;
  line-height: 22px;
  letter-spacing: -0.03em;
  text-align: left;
  margin-bottom: 19px;
}
.about__project__info p {
  font-family: Inter;
  font-size: 18px;
  font-weight: 400;
  margin-bottom: 30px;
  line-height: 22px;
}
.about__project__info {
  font-family: Inter;
  font-size: 14px;
  font-weight: 400;
  line-height: 17px;
  margin-bottom: 60px;
  width: 380px;
  padding-right: 50px;
}
.about__project a {
  font-family: Inter;
  font-size: 18px;
  font-weight: 500;
  color: var(--main-black);
}
.my__image {
  height: 364.6781311035156px;
  width: 640px;
  left: 480px;
  top: 0px;
  border-radius: 0px;
}
.my__image img {
  width: 100%;
}
.footer__logo {
  color: var(--secondary);
  font-family: DM Sans;
  font-size: 21px;
  font-weight: 500;
  line-height: 25px;
  letter-spacing: -0.03em;
  text-align: left;
  flex: 1;
}
.footer {
  display: flex;
  justify-content: space-between;
  margin-top: 40px;
}
.footer ul {
  display: flex;
  font-family: DM Sans;
  font-size: 21px;
  font-weight: 500;
  list-style: none;
  flex: 1;
  line-height: 25px;
  letter-spacing: -0.03em;
  text-align: left;
  justify-content: space-between;
}
