@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
:root {
  --main-black: #181717;
  --main-gray: #606060;
  --main-white: #f3f3f3;
  --secondary: #2429af;
  --bg-color: #e5e5e5;
}
body {
  background: #e5e5e5;
}
.wrapper {
  max-width: 1120px;
  margin: 0 auto;
  /* padding: 102px 160px 108px 160px; */
  padding-top: 102px;
}
.navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-transform: capitalize;
}
.navigation span {
  flex: 1;
  font-family: DM Sans;
  font-size: 42px;
  font-weight: 400;
  text-transform: capitalize;
}
.navigation ul {
  display: flex;
  flex: 1;
  justify-content: space-between;
  list-style: none;
}
.navigation ul li {
  font-family: DM Sans;
  font-size: 21px;
  font-weight: 500;
  line-height: 25px;
  letter-spacing: -0.03em;
  text-align: left;
}
.about__me h1 {
  font-family: DM Sans;
  font-size: 60px;
  font-weight: 500;
  line-height: 58px;
  width: 35%;
}
.about__me p {
  font-family: DM Sans;
  font-size: 32px;
  font-weight: 400;
  line-height: 37px;
  width: 65%;
}
.about__me {
  display: flex;
  margin-top: 113px;
  text-align: start;
}
.about__work {
  display: flex;
  justify-content: space-between;
  margin-top: 113px;
  border-bottom: 1.5px solid var(--main-gray);
  overflow: hidden;
}
.about__project {
  text-align: left;
}
.about__project h2 {
  font-family: Inter;
  font-size: 18px;
  font-weight: 500;
  line-height: 22px;
  letter-spacing: -0.03em;
  text-align: left;
  margin-bottom: 19px;
}
.about__project__info p {
  font-family: Inter;
  font-size: 18px;
  font-weight: 400;
  margin-bottom: 30px;
  line-height: 22px;
}
.about__project__info {
  font-family: Inter;
  font-size: 14px;
  font-weight: 400;
  line-height: 17px;
  margin-bottom: 60px;
  width: 380px;
  padding-right: 50px;
}
.about__project a {
  font-family: Inter;
  font-size: 18px;
  font-weight: 500;
  color: var(--main-black);
}
.my__image {
  max-width: 640px;
}
.my__image img {
  width: 100%;
}
.footer__logo {
  color: var(--secondary);
  font-family: DM Sans;
  font-size: 21px;
  font-weight: 500;
  line-height: 25px;
  letter-spacing: -0.03em;
  text-align: left;
  flex: 1;
}
.footer {
  display: flex;
  justify-content: space-between;
  margin-top: 200px;
}
.footer ul {
  display: flex;
  font-family: DM Sans;
  font-size: 21px;
  font-weight: 500;
  list-style: none;
  flex: 1;
  line-height: 25px;
  letter-spacing: -0.03em;
  text-align: left;
  justify-content: space-between;
}
@media (min-width: 1025px) and (max-width: 1440px) {
  .wrapper {
    max-width: 90vw;
  }
  .footer {
    margin: 50px 0;
  }
}
@media (min-width: 768px) and (max-width: 1024px) {
  .wrapper {
    padding: 27px;
  }
  .about__me p {
    font-size: 27px;
    width: 55%;
  }
  .about__me h1 {
    width: 45%;
    font-size: 54px;
  }
  .navigation span {
    font-size: 34px;
  }
}

@media (max-width: 767px) {
  .wrapper {
    padding: 30px;
  }
  .about__me {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  .about__me h1 {
    width: 100%;
    margin-bottom: 40px;
  }
  .about__me p {
    width: 100%;
    text-align: justify;
  }
  .navigation {
    flex-direction: column;
  }
  .navigation ul {
    flex-direction: column;
    width: 100%;
    align-items: center;
  }
  .navigation ul li {
    line-height: 60px;
  }

  .about__project h2 {
    font-size: 30px;
  }
  .about__project__info p {
    font-size: 22px;
    line-height: 26px;
  }
  .about__project__info {
    font-size: 18px;
    width: 100%;
    padding: 0;

  }.about__project__info span{
    line-height: 26px;
  }
  /* .about__project{
    text-align: center;
  } */
  .about__project a {
    font-size: 18px;
  }
   .footer {
    display: block;
    margin-top: 70px;
  }.footer__logo {
    text-align: center;
    margin-bottom: 40px;
  }
  .about__work{
    display: block;
    margin: 50px 0;
  }
  .my__image{
    margin-top: 40px;
  }
}
